<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-controller="Main as main">
    <div class="container">
      <h1>Simple Angular Auth - Thinkster</h1>

      <input type="text" ng-model="main.username" placeholder="username"><br>
      <input type="password" ng-model="main.password" placeholder="password"><br>
      <br>

      <button  class="btn btn-primary"ng-click="main.register()">Register</button>
      <button  class="btn btn-default" ng-click="main.login()">Login</button>
      <button  class="btn btn-danger" ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button>

      <button class="btn btn-primary" ng-click="main.getQuote()">get quote</button>
      <br><br>
      {{main.message}}

      <br><br><br>
      <a href="https://twitter.com/IAmMattGreen">shameless plug</a>
    </div>


    </body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script src="main.js"></script>

  </body>
</html>
